<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Remove Background (Peelr)</string>
			</dict>
			<key>NSMessage</key>
			<string>removeBackgroundService</string>
			<key>NSPortName</key>
			<string>Peelr</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendTypes</key>
			<array>
				<string>public.image</string>
				<string>public.png</string>
				<string>public.tiff</string>
				<string>public.file-url</string>
			</array>
			<key>NSReturnTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
